# Lets start the project with data analysis

In [2]:
#import required libraries and packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
#load the data
df = pd.read_csv("dataset\india_terrorism_database_with_summary.csv")

<>:2: SyntaxWarning: invalid escape sequence '\i'
<>:2: SyntaxWarning: invalid escape sequence '\i'
C:\Users\ASUS\AppData\Local\Temp\ipykernel_13136\3867222062.py:2: SyntaxWarning: invalid escape sequence '\i'
  df = pd.read_csv("dataset\india_terrorism_database_with_summary.csv")

In [13]:
#check columns
df.columns

Index(['Date', 'State', 'City', 'Attack Type', 'Target Type', 'Casualties',
       'Perpetrators', 'Weapons Used', 'Sources', 'Summary'],
      dtype='object')

In [5]:
#dislpay first 5 rows of data
df.head()

,Date,State,City,Attack Type,Target Type,Casualties,Perpetrators,Weapons Used,Sources,Summary
0,3/28/2005,Jammu and Kashmir,Pulwama,Hijacking,Public Infrastructure,40,Terrorist Group B,Explosives,https://news.example.com/8568,"On 2005-03-28, a hijacking targeted public inf..."
1,1/15/2006,West Bengal,Kolkata,Suicide Attack,Military,1,Maoist Rebels,Explosives,https://news.example.com/5309,"On 2006-01-15, a suicide attack targeted milit..."
2,8/8/2010,Maharashtra,Nagpur,Shooting,Military,4,Terrorist Group A,Explosives,https://news.example.com/9938,"On 2010-08-08, a shooting targeted military in..."
3,4/26/2001,Assam,Tezpur,Arson,Civilians,1,Terrorist Group B,Guns,https://news.example.com/8364,"On 2001-04-26, a arson targeted civilians in T..."
4,8/25/2019,Jharkhand,Dhanbad,Hijacking,Government Officials,46,Maoist Rebels,Guns,https://news.example.com/8902,"On 2019-08-25, a hijacking targeted government..."

In [6]:
#dislpay last 5 rows of data
df.tail()

,Date,State,City,Attack Type,Target Type,Casualties,Perpetrators,Weapons Used,Sources,Summary
95,2/20/2015,Assam,Guwahati,Suicide Attack,Police,4,Maoist Rebels,Molotov Cocktails,https://news.example.com/8726,"On 2015-02-20, a suicide attack targeted polic..."
96,11/25/2004,Punjab,Jalandhar,Arson,Public Infrastructure,33,Terrorist Group A,IEDs,https://news.example.com/7485,"On 2004-11-25, a arson targeted public infrast..."
97,1/14/2006,Chhattisgarh,Dantewada,Hijacking,Police,27,Terrorist Group A,IEDs,https://news.example.com/9473,"On 2006-01-14, a hijacking targeted police in ..."
98,11/2/2004,Uttar Pradesh,Kanpur,Suicide Attack,Public Infrastructure,11,Unknown,Guns,https://news.example.com/1628,"On 2004-11-02, a suicide attack targeted publi..."
99,11/25/2001,Maharashtra,Mumbai,Suicide Attack,Military,47,Unknown,Guns,https://news.example.com/2972,"On 2001-11-25, a suicide attack targeted milit..."

In [7]:
# Information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          100 non-null    object
 1   State         100 non-null    object
 2   City          100 non-null    object
 3   Attack Type   100 non-null    object
 4   Target Type   100 non-null    object
 5   Casualties    100 non-null    int64
 6   Perpetrators  100 non-null    object
 7   Weapons Used  100 non-null    object
 8   Sources       100 non-null    object
 9   Summary       100 non-null    object
dtypes: int64(1), object(9)
memory usage: 7.9+ KB

In [9]:
# Display the shape i.e number of rows and column
df.shape

(100, 10)

In [10]:
#check for null data
df.isnull().sum()

Date            0
State           0
City            0
Attack Type     0
Target Type     0
Casualties      0
Perpetrators    0
Weapons Used    0
Sources         0
Summary         0
dtype: int64

In [11]:
df.describe()

       Casualties
count  100.000000
mean    25.130000
std     14.800802
min      0.000000
25%     12.750000
50%     26.500000
75%     37.250000
max     50.000000