# Lets start the project with data analysis

In [2]:
#import required libraries and packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
#load the data
df = pd.read_csv("dataset\india_terrorism_database_with_summary.csv")

<>:2: SyntaxWarning: invalid escape sequence '\i'
<>:2: SyntaxWarning: invalid escape sequence '\i'
C:\Users\ASUS\AppData\Local\Temp\ipykernel_13136\3867222062.py:2: SyntaxWarning: invalid escape sequence '\i'
  df = pd.read_csv("dataset\india_terrorism_database_with_summary.csv")

In [ ]:
#dislpay first 
df.head()

,Date,State,City,Attack Type,Target Type,Casualties,Perpetrators,Weapons Used,Sources,Summary
0,3/28/2005,Jammu and Kashmir,Pulwama,Hijacking,Public Infrastructure,40,Terrorist Group B,Explosives,https://news.example.com/8568,"On 2005-03-28, a hijacking targeted public inf..."
1,1/15/2006,West Bengal,Kolkata,Suicide Attack,Military,1,Maoist Rebels,Explosives,https://news.example.com/5309,"On 2006-01-15, a suicide attack targeted milit..."
2,8/8/2010,Maharashtra,Nagpur,Shooting,Military,4,Terrorist Group A,Explosives,https://news.example.com/9938,"On 2010-08-08, a shooting targeted military in..."
3,4/26/2001,Assam,Tezpur,Arson,Civilians,1,Terrorist Group B,Guns,https://news.example.com/8364,"On 2001-04-26, a arson targeted civilians in T..."
4,8/25/2019,Jharkhand,Dhanbad,Hijacking,Government Officials,46,Maoist Rebels,Guns,https://news.example.com/8902,"On 2019-08-25, a hijacking targeted government..."